

<div id="content">
	<h1><%=h @page.navlabel %> |</h1>


	<p>
	  <b>Name:</b>
	  <%=h @page.name %>
	</p>

	<p>
	  <b>Title:</b>
	  <%=h @page.title %>
	</p>

	<p>
	  <b>Body:</b>
	  <%= @page.body %>
	</p>
	
	
</div>	



