<% content_for(:sub_menu) do %>
	<ul>
		<li><%= link_to "Back", :back %></li>
		<li><%= link_to "New", new_admin_event_path %></li>
	</ul>
<% end %>

<%= event_calendar %>
<div id="content">
	<h1>Events List</h1>

	<div id="itsthetable">	
		<table class="page_list">
			<tr>
				<th>Title</th>
				<th>Location</th>
				<th>Date start</th>	
				<th></th>
				<th>State</th>
				<th></th>
				<th>Options </th>

			</tr>			
			<%= render :partial => "event", :collection => @events %>
		</table>
	</div>
</div>
