
  <div id="google_ads"></div>
  <div class="header">
    <h4>E-MAG</h4>
  </div>
  <div id="magazine"></div>
  <div class="header">
    <h4>Share This</h4>
  </div>    
  <div id="social"></div> 
  <div class="header">
   <h4>FUN</h4>
   </div>    
  <div class="media"></div> 
  <div class="header">
   <h4>CHATTER</h4>
  </div>    
  <div id="chat"></div> 
  <div id="advertise"></div> 
      

