
  <div id="google_ads"></div>
  <div class="header">
    <h4>E-MAG</h4>
  </div>
  <div id="magazine">
		<%= render :partial => "shared/front/left/magazine/issue"%>
  
	</div>
  <div class="header">
    <h4>Share This</h4>
  </div>    
  <div id="social"></div> 
  <div class="header">
   <h4>FUN</h4>
   </div>    
  <div class="media">
  	<%= render :partial => "shared/front/left/images" %>
  </div> 
  <div class="header">
   <h4>CHATTER</h4>
  </div>    
  <div id="chat"></div> 
	<%= render :partial => "shared/front/left/links/advertise"%>
      

