<div class="previous arrow_buttons"></div>

<div class="image_carousel">
	<ul>
		<%= render :partial => "shared/front/left/images/image", :collection => Egallery.find(:all) %>
	</ul>
</div>

<div class="next arrow_buttons"></div>