<li>
<%= image_tag reviewfull.photo.url(:thumb) %> 
<%= reviewfull.two_liner %>
<%= reviewfull.description %>
<p style="float:left;width:80px;position:absolute;margin:100px 0 0 38px;"><%= link_to "go back", :back %></p>

</li>
