#wrapper #header.admin { height: 200px; }

#adminblock { float: left; background: white; width: 962px; padding: 40px 0; margin-top: 13px; }
#adminblock #notice { width: 80%; margin: 0px auto; }
#adminblock #content { margin-left: 45px; height: 100%; }
#adminblock #content h1 { margin-bottom: 10px; }
#adminblock #content table tr td.title { width: 250px; }
#adminblock #content .event_info { width: 350px; float: left; }
#adminblock #content .location_info { width: 400px; margin-left: 45px; }
