body{
    background: url(../images/system/bg/background.jpg);
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
  }
  #wrapper{
    width: 960px;
    margin: 0px auto; 
    text-align: left; 
  }
  #wrapper.whatson{
    height:1892px;
  }
  
  /* TITLES AND HEADERS */
  #wrapper h4{
   text-align: center; 
   margin: 3px 0 0 0 ;
   text-transform: uppercase;
  }
  #wrapper h1{
   text-align: left; 
   margin: 3px 0 0 0 ;
   text-transform: uppercase;
  }
	#wrapper h1 a{
		text-decoration: none;
	}
  
  #wrapper #header{
    height: 156px;
    width: 962px;
    margin-bottom: 13px;
    float:left; 
  }
  #wrapper #header.events{
    height: 198px;
    width: 962px;
    margin-bottom: 13px;
    float:left; 
  }
  #wrapper #header.admin{
    height: 198px;
    width: 962px;
    margin-bottom: 13px;
    float:left; 
  }
  #wrapper #header #logo{
    height: 92px;
    width: 230px;
    float:left;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0 0;  
    margin: 9px 0 2px 0;
  }
  #wrapper #header #navbar{
    height: 53px;
    width: 962px;
    float:left;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -92px;  
  }
  #wrapper #header #navbar ul{
    width: 962px;
    height: 53px;  
    margin:0px;
    list-style: none;
    padding: 0px;
  }
  #wrapper #header #navbar ul li{
    text-transform: uppercase;
    float:left;
    margin: 15px 0 0 21px;    
  }
  #wrapper #header #navbar ul li a{
  	
		text-decoration: none;
  }
  #wrapper #header #navbar h1{
    text-transform: uppercase;
    float:left;
    margin: 15px 0 0 22px;  
  }

  #wrapper #header #sub_navbar{
    height: 42px;
    width: 962px;
    float:left;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -7227px;  
    margin-top: 13px;
  }
    #wrapper #header #sub_navbar ul li{
    text-transform: uppercase;
    float:left;
    margin: 15px 0 0 21px;    
  }
  #wrapper #header #sub_navbar ul li a{
  	
		text-decoration: none;
  }
  #wrapper #header #sub_navbar h1{
    text-transform: uppercase;
    float:left;
    margin: 15px 0 0 22px;  
  }
  #wrapper #left-column{
    width: 161px;
    float: left;
    height: 1546px;
    background: transparent;
    margin-right: 8px;
    margin-top: 13px;
    margin-bottom:25px;
  }
  #wrapper #left-column #google_ads{
   width: 160px;
   height: 239px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2746px; 
  margin-left: 1px;

  }
  #wrapper #left-column.events #google_ads{
  margin-bottom: 9px;

  }
  #wrapper #left-column .header{
   width: 161px;
   height: 25px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -145px; 
   margin-top: 11px;
   float:left;
  }

  #wrapper #left-column #magazine{
   width: 161px;
   height: 206px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -170px; 
   float:left;
  }
  #wrapper #left-column #social{
   width: 161px;
   height: 90px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -376px; 
   float:left;
  }
   #wrapper #left-column #images{
   width: 161px;
   height: 318px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -466px; 
   float:left;
  }
  #wrapper #left-column #videos{
   width: 161px;
   height: 318px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -466px; 
   float:left;
  }
  #wrapper #left-column #chat{
   width: 161px;
   height: 432px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -784px; 
   float:left;
  }
   #wrapper #left-column #advertise{
   width: 161px;
   height: 107px;
   background-image:url(../images/system/bg/versionSprites.png);
   background-position: 0px -1216px; 
   float:left;
    margin-top: 13px;
  }
  #wrapper #main{
    width: 492px;
    float: left;
    height: 1525px;
    background: transparent;
    margin-top: 13px;
  }     
  
  #wrapper #main .header{
    width: 492px;
    float: left;
    height:25px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -1323px; 
  }      
  #wrapper #main #travellers{
    width: 492px;
    float: left;
    height:288px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -1348px; 
    margin-bottom: 13px;
  }  
  #wrapper #main #articles{
    width: 492px;
    float: left;
    height:379px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -1636px; 
    margin-bottom: 13px;
  }    
  #wrapper #main .services{
    width: 231px;
    float: left;
    height:229px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2015px; 
    margin-bottom: 13px;
  }      
  #wrapper #main .services_right{
   margin-left: 30px;
  }  
  #wrapper #main #small_header{
    width: 443px;
    float: left;
    height:24px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2244px; 
    margin-left: 24px;
  }   
  #wrapper #main #news{
    width: 492px;
    float: left;
    height:143px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2268px; 
    margin-bottom: 11px;
  }  
    #wrapper #main #classified{
    width: 492px;
    float: left;
    height:335px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2411px; 
    margin-bottom: 13px;
  }      
  #wrapper #right-column{
    width: 291px;
    float: left;
    height: 1525px;
    background: transparent;
    margin-top: 13px;
    margin-left: 8px;
  }
  #wrapper #right-column .header{
    width: 291px;
    float: left;
    height: 25px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -2985px;   
  }
  #wrapper #right-column #whatson{
    width: 291px;
    float: left;
    height: 322px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -3010px;   
  }
   #wrapper #right-column #advertisements{
    width: 291px;
    float: left;
    height: 1062px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -3332px;   
    margin-top: 13px;
  }
  #wrapper #right-column #community_header{
    width: 244px;
    float: left;
    height: 25px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4394px;   
    margin-top: 13px;
    margin-left: 24px;
  }
  #wrapper #right-column #community{
    width: 291px;
    float: left;
    height: 81px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4419px;   
  }
  #wrapper #right-column #community_join{
    width: 153px;
    float: left;
    height: 22px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4500px; 
    margin-left: 70px;  
  }
  #footer{
  width: 100%;
  float:left;
  height: 225px;
  background-image:url(../images/system/bg/footer.png);
  background-repeat: repeat-x;
  margin-top: 14px;
  }
  
   /*events page*/
   /*center*/
  #wrapper #main.events{
    width: 492px;
    float: left;
    height:1648px;
  }
   
  #wrapper #main #events_gallery{
    width: 492px;
    float: left;
    height:246px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4522px; 
    margin-bottom: 13px; 
  }
  #wrapper #main #events_list{
    width: 492px;
    float: left;
    height:1366px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4834px;  
  }
  #wrapper #main #events_list .header{
    width: 492px;
    float: left;
    height:43px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4768px;  
  }
  #wrapper #main #events_list .subheader{
    width: 458px;
    float: left;
    height:23px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -4811px;  
    margin-left: 17px;
  }    
  #wrapper #main #events_list .header h1{
    margin: 9px 0 0 17px;
  }
  #wrapper #main #events_list .subheader h4{
    text-align: left;
    margin-left: 17px;
    
  }
  #wrapper #main #events_footer{
   width: 458px;
    float: left;
    height:23px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6200px;  
    margin-left: 17px;
  }
  
  /*left*/
  #wrapper #left-column #work{
  
    width: 161px;
    float: left;
    height: 86px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6223px;  
    margin-top: 13px; 
  }
    /*right*/
  #wrapper #right-column #what_when{
  
    width: 291px;
    float: left;
    height: 245px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6309px;   
  }
    #wrapper #right-column #advertise{
  
    width: 291px;
    float: left;
    height: 105px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6554px;   
    margin-top: 13px;
  }
   #wrapper #right-column #magazine{
    width: 291px;
    float: left;
    height: 295px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6660px;   
  }
  #wrapper #right-column.events #single_advertisement{
      width: 291px;
    float: left;
    height: 272px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -6955px;   
    margin-top: 13px;
  }
  
  #wrapper #right-column.events #double_advertisement{
      width: 291px;
    float: left;
    height: 534px;
    background-image:url(../images/system/bg/versionSprites.png);
    background-position: 0px -7269px;   
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  
