<div>
	<object style="width:962px;height:680px" >
		<param name="movie" value="http:/680px/static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=100510113622-c7481c93ef8f460d84ca18d88ad22445&amp;docName=may-2010&amp;username=granada-insider&amp;loadingInfoText=Granada%20Insider&amp;et=1273501030685&amp;er=87&amp;pageNumber=<%= params[:number] %>" />
		<param name="allowfullscreen" value="true"/><param name="menu" value="false"/><embed src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" style="width:962px;height:680px" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=100510113622-c7481c93ef8f460d84ca18d88ad22445&amp;docName=may-2010&amp;username=granada-insider&amp;loadingInfoText=Granada%20Insider&amp;et=1273501030685&amp;er=87&amp;pageNumber=<%= params[:number] %>" />
	</object>
	<div style="width:962px;text-align:left;">
		<a href="http://issuu.com/granada-insider/docs/may-2010?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true" target="_blank">Open publication</a>
		 - Free <a href="http://issuu.com" target="_blank">publishing</a> - <a href="http://issuu.com/search?q=granada%20travel" target="_blank">More granada travel</a>
	</div>
</div>