<div style="float:left">
	<% if params[:publication_name] == "april-2010" %>
		<%= render :partial => "april" %>
	<% end %>
	<% if params[:publication_name] == "may-2010" %>
		<%= render :partial => "may" %>
	<% end %>
</div>