<div class="header">
  <h4>whatŽs on today</h4>
</div>     
<div id="whatson">
	<ol>
		<li><h3><b>Karaoke night</b></h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p></li>
		<li><h3><b>Live Flamenco</b></h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p></li>
		<li><h3><b>Bar job @ Gringo Hotel</b></h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p></li>
	</ol>
</div>     
<div id="advertisements">
	<%= render :partial => "shared/right_ads_swf" %>		
	<%= render :partial => "shared/right_ads_swf" %>		
	<%= render :partial => "shared/right_ads_swf" %>		
	<%= render :partial => "shared/right_ads_swf" %>		

</div>  
<div id="community_header">
  <h4>community</h4>
</div>  
<div id="community"></div>  
<div id="community_join"></div>  
