<div class="header">
  <h4>what's on today</h4>
</div>     
<div id="whatson">
	<ol>
		<%= render :partial => "shared/front/right/events/event", :collection => @events %>
	</ol>
</div>     
<div id="advertisements">
<%= render :partial => "shared/front/right/adverts/container" %>

</div>  
<div id="community_header">
  <h4>community</h4>
</div>  
<div id="community"></div>  
<div id="community_join"></div>  
