<div id="what_when">
	<ol class="whatson">
		<%= render :partial => "shared/front/right/events/event", :collection => @events %>
	</ol>	
</div>     
<div id="advertise"></div>  
<div id="double_advertisement">
	<%= render :partial => "shared/front/right/adverts/double" %>
</div>  
<div class="header">
  <h4>granada insider e-mag</h4>
</div>
<div id="magazine"></div>  
<div id="single_advertisement"></div>
<div id="community_header">
  <h4>community</h4>
</div>  
<div id="community"></div>  
<div id="community_join"></div>  
