<script type="text/javascript">
		var flashvars = {};
		flashvars.sponsoredxml = "/rss/ads/<%= right_ads_swf.id %>";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		var params = {}
		params.allowscriptaccess = "always";

		swfobject.embedSWF("http://s3.amazonaws.com/granadainsider-development/swf/sponsoredflash.swf", "pcontainer", "250", "250", "9", "/swf/expressInstall.swf", flashvars, params,attributes);
</script>


<div class="right_sponsored">
	<div id="pcontainer"></div>
</div>
