

<div id="content">
	<h1>Edit Location Type</h1>

	<div id="tabs" class="ui-tabs">

	  <% form_for :location_type,@location, :url => {:action => "update"}, :html => {:method => :put}  do |f| %>	
		  <%= render :partial => "form", :locals => {:f =>f}%>
		  <p>
		    <%= f.submit 'Create' %>
		  </p>
	  <% end %>
	
	</div>
</div>

<% content_for(:sub_menu) do %>
	<ul>
		<li><%= link_to "Back", :back %></li>
	</ul>
<% end %>


