<div id="left-column">
  <div id="google_ads"></div>
  <div class="header">
    <h4>E-MAG</h4>
  </div>
  <div id="magazine"></div>
  <div class="header">
    <h4>Share This</h4>
  </div>    
  <div id="social"></div> 
  <div class="header">
   <h4>FUN</h4>
   </div>    
  <div id="images"></div> 
  <div class="header">
   <h4>CHATTER</h4>
  </div>    
  <div id="chat"></div> 
  <div id="advertise"></div> 
</div>       
<div id="main">
  <div class="header">
       <h4>granada travellers guide</h4>
  </div>
  <div id="travellers"></div> 
  <div class="header">
    <h4>latest articles</h4>
  </div>
  <div id="articles"></div> 
  <div class="header">
    <h4>services</h4>
  </div>     
  <div class="services">
		<%= render :partial => "shared/center_services_swf" %>	
	</div>   
  <div class="services services_right">
		<%= render :partial => "shared/center_services_swf" %>		
	</div> 
  <div id="small_header">
    <h4>granada news</h4></div>
  <div id="news"></div>  
  <div class="header">
    <h4>latest classified ads</h4>
  </div>    
  <div id="classified"></div>   
</div> 
<div id="right-column">
  <div class="header">
    <h4>whatŽs on today</h4>
  </div>     
  <div id="whatson"></div>     
  <div id="advertisements">
		<%= render :partial => "shared/right_ads_swf" %>		
	</div>  
  <div id="community_header">
    <h4>community</h4>
  </div>  
  <div id="community"></div>  
  <div id="community_join"></div>  
</div>
