<% if logged_in? and current_user.has_role?("Admin")%>
<ul class="backend">
	<li><a href="/admin"> Overview</a></li>
	<li><a href="/admin/pages">PAGES</a></li>
	<li><a href="/admin/events/2010/4">EVENTS</a></li>
	<li><a href="/admin/locations">LOCATIONS</a></li>
	<li><a href="/admin/users">USERS</a></li>
	<li><a href="/admin/posts">posts</a></li>
	<li><a href="/admin/classifieds">classifieds</a></li>
	<li><a href="/admin/clients">clients</a></li>
	<li><a href="/logout">logout</a></li>
</ul> 
<% end %>
