<ul>
	<li><a href="/admin"> Overview</a></li>
	<li><a href="/admin/pages">PAGES</a></li>
	<li><a href="/admin/events">EVENTS</a></li>
	<li><a href="/admin/locations">LOCATIONS</a></li>
	<li><a href="/admin/users">USERS</a></li>
	<li><a href="/admin/roles">ROLES</a></li>
</ul> 
