<ul id="main-menu">
	<% for page in @pages %>
		<li id="<%= page.name %>" class="<% if page.name == @page.name %>current_page_item<% else %>regular<% end %>">
		<% if page.name == "community" %>
			<%= link_to page.navlabel, "#", :rel => "#9197a3" %></li>    
		<% else %>
			<%= link_to page.navlabel, view_page_path(page.name), :rel => "#9197a3" %></li>    
		<% end %>
	<% end %>
</ul> 
