
<% content_for(:sub_menu) do %>
	<ul>
		<li><%= link_to "Back", "#" %></li>
		<li><%= link_to "new", new_admin_post_path %></li>
	</ul>
<% end %>



<div id="content">
	<h1>Blog Categories(<%= @posts.size %>)</h1>

	<div id="itsthetable">	
		<table class="page_list">
			<tr>
				<th style="width:200px">title</th>
				<th style="width:150px">options</th>
			</tr>			
			<%= render :partial => "post", :collection => @posts %>
		</table>
	</div>
</div>

