<div class="header">
     <h4>Networking</h4>
</div>
<div id="travellers">
	<div id="center_travellers_logo"></div>
	<%= @page.body %>
</div> 

<div class="header">
  <h4>latest members</h4>
</div>
<div id="articles" class="magazine">

</div> 


<%= render :partial => "shared/front/center/service_ads"%>

<div id="small_header">
  <h4>granada news</h4></div>
<div id="news">
	<ol>
		<%= render :partial => "shared/front/center/news/news", :collection => @news %>
	</ol>
</div>  
