<div class="header">
     <h4>Networking</h4>
</div>
<div id="travellers">
	<div id="center_travellers_logo"></div>
	<%= @page.body %>
</div> 

<div class="header">
  <h4>latest members</h4>
</div>
<div id="articles" class="magazine">

</div> 

<div class="header">
  <h4>services</h4>
</div>     
<div class="services">
	<%= render :partial => "shared/center_services_swf" %>	
</div>   
<div class="services services_right">
	<%= render :partial => "shared/center_services_swf" %>		
</div> 
<div id="small_header">
  <h4>granada news</h4></div>
<div id="news">
	<ol>
		<%= render :partial => "shared/front/center/news/news", :collection => @news %>
	</ol>
</div>  
