<div class="header">
  <h4>services</h4>
</div>     
<div class="services">
	<%= render :partial => "shared/center_services_swf2",:locals => { :side => "left" } %>	
</div>   
<div class="services services_right">
	<%= render :partial => "shared/center_services_swf2",:locals => { :side => "right" } %>		
</div>