
<div id="events_gallery">
		<%= render :partial => "shared/center_event_gallery_swf" %>
</div>  

<div id="events_list">
  <div class="header">
    <h1>granada night life</h1>
  </div>
  <div class="subheader">
    <h4>Upcoming Events</h4>
  </div>
	<ul>
		<%= render :partial => "shared/front/center/events/event", :collection => @events %>
	</ul>
</div>  
<div id="events_footer">
  <h4>load more items</h4>
</div>
