<div id="events_gallery"></div>  
<div id="events_list">
  <div class="header">
    <h1>granada night life</h1>
  </div>
  <div class="subheader">
    <h4>this week</h4>
  </div>
</div>  
<div id="events_footer">
  <h4>load more items</h4>
</div>
