<li>
<div class="left">
	
	<%=  image_tag location.photo.url(:thumb) %>
	<div class="left_short">
		<%= image_tag "system/bg/center_social.png" %>	
	</div>
</div>
<div class="center">
	<h4><%= location.title %></h4>
	<%= location.description %>

</div>
<hr>
</li>
