<div id="contact">
	<div id="top">
		<div class="advertise_logo"></div>
		<h4>Advertise with us</h4>
	</div>
	<div id="middle">
		<ol>
			<li><input type="text"></li>
			<li><input type="text"></li>
			<li><input type="text"></li>
			<li><textarea ></textarea></li>
			<li><%= image_submit_tag("system/buttons/send.png", :id => "system/buttons/send.png", :name => "system/buttons/send.png", :class => "system/buttons/send.png-button", :disabled => false) %></li>
		</ol>
	</div>
</div>
