<div id="contact">
	<div id="top">
		<div class="advertise_logo"></div>
		<h4>Work with us</h4>
	</div>
	<div id="middle">
		<% form_for @contact, :url =>{:action =>"create"} do |f| -%>
		<ol>
		<%= render :partial => "work_form", :locals =>{:f => f} %>
			<li><%= image_submit_tag("system/buttons/send.png", :id => "system/buttons/send.png", :name => "system/buttons/send.png", :class => "system/buttons/send.png-button", :disabled => false) %></li>
			
		</ol>
		 
		<% end -%>
	</div>
</div>
