#wrapper
	#header.admin
		height: 200px


#adminblock
	float: left
	background: white
	width: 962px
	padding: 40px 0
	margin-top: 13px
	#notice
		width: 80%
		margin: 0px auto
	#content
		margin-left: 45px
		height: 100%
		h1
			margin-bottom: 10px
		table
			tr
				td.title
					width: 250px
		.event_info
			width: 350px
			float: left
		.location_info
			width: 400px
			margin-left: 45px
		.calendar_info
			width: 500px
			margin-left: 45px
			float: left
		#tabs
			width: 375px
		#itsthetable
			float: left

