<% content_for(:sub_menu) do %>
	<ul>
		<li><%= link_to "Back", :back %></li>
		<li><%= link_to "New", new_admin_user_path %></li>
	</ul>
	<ul class="variables">
		<li><h4>Related:</h4></li>
		<li><h3><a href="/admin/roles">ROLES</a></h3></li>
	</ul>
<% end %>


<div id="content">
	<h1>User List</h1>

	<div id="itsthetable">	
		<table class="page_list">
			<tr>
				<th>login</th>
				<th></th>	
				<th>roles</th>
				<th></th>				
				<th>email</th>
				<th></th>				
				<th>validated?</th>
				<th></th>
				<th>Options</th>

			</tr>			
			<%= render :partial => "user", :collection => @users %>
		</table>
	</div>
</div>
