<div id="holder">
	<div class="column">
		<h5>Granada Magazine Latest Issue</h5>
		<ul>
			<li>Latest Articles</li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada City Guide Areas</h5>
		<ul>
			<li>Areas</li>
			<li>Tourist attractions</li>
			<li>Events</li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada Food Guide</h5>
		<ul>
			<li>Tapas bars</li>
			<li>Restaurants</li>
			<li>Specialities</li>
		</ul>	
	</div>
	<div class="column">
		<h5>Granada NightLife</h5>
		<ul>
			<li>Bars</li>
			<li>Clubs</li>
			<li>Live music</li>
			<li>Theatre</li>
		</ul>
	</div>
	<div class="column">
		<h5>Granada Classifieds</h5>
		<ul>
			<li>Services</li>
			<li>Accomadation</li>
			<li>For Sale</li>
			<li>For Free</li>
		</ul>
	</div>
	
<div>